/**
* Availa
* --------------------------------
*/
/**
 * Authorization styles
 * --------------------------------
*/
.auth-panel {
  display: flex;
  align-items: center;
}
.auth-panel__text {
  color: rgba(239, 241, 243, 0.5);
  font-size: 18px;
  margin-right: 15px;
  position: relative;
}
.auth-panel__text-icon {
  font-size: 30px;
  position: absolute;
  left: -35px;
  color: #fff;
}
.auth-panel__picture {
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  margin: 0 5px 0 0;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
