/**
 * Availa
 * --------------------------------
*/
/**
 * Autocomplete
 * --------------------------------
*/
.ui-widget.ui-widget-content.ui-autocomplete.ui-customer-search {
  border: 1px solid #b9c3cd;
  overflow-x: hidden;
  max-height: 144px;
  width: 269px;
  padding: 0;
}
.ui-widget.ui-widget-content.ui-autocomplete.ui-customer-search .ui-menu-item {
  line-height: normal;
  color: #232d37;
  font-size: 14px;
  height: auto;
}
.text,
.select,
.ui-selectmenu-button.ui-button.ui-widget {
  outline: none;
  width: 337px;
  height: 57px;
  color: #1b1f3f;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 20px;
  border: solid 2px #37a8af;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -icab-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.text:active,
.select:active,
.ui-selectmenu-button.ui-button.ui-widget:active,
.text:hover,
.select:hover,
.ui-selectmenu-button.ui-button.ui-widget:hover {
  background-color: #ffffff;
}
.text .ui-selectmenu-icon.ui-icon,
.select .ui-selectmenu-icon.ui-icon,
.ui-selectmenu-button.ui-button.ui-widget .ui-selectmenu-icon.ui-icon {
  background-image: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-menu .ui-menu-item-wrapper {
  background: #ffffff;
  border: solid 1px transparent;
  color: #1b1f3f;
  padding: 3px 1em;
  font-size: 18px;
  margin: 0;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-menu .ui-menu-item-wrapper.ui-state-active:hover,
.ui-selectmenu-menu.ui-selectmenu-open .ui-menu .ui-menu-item-wrapper.ui-state-active {
  color: #1b1f3f;
  background: #ebeef0;
  padding: 3px 1em;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  border: solid 1px transparent;
}
.text--secondary,
.select--secondary,
.ui-selectmenu-button.ui-button.ui-widget {
  border: solid 2px #1b1f3f;
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
}
.ui-selectmenu-menu.ui-selectmenu-open {
  border-bottom: 1px solid #1b1f3f;
  border-right: 1px solid #1b1f3f;
  border-left: 1px solid #1b1f3f;
  margin: -2px 0 0 0;
  border-top: none;
}
