/**
 * Availa
 * --------------------------------
*/
/**
 * Autocomplete
 * --------------------------------
*/

@import "../variables";

.ui-widget.ui-widget-content.ui-autocomplete.ui-customer-search{
    border: 1px solid @gray_bg_3;
    overflow-x: hidden;
    max-height: 144px;
    width: 269px;
    padding: 0;

    .ui-menu-item{
        line-height: normal;
        color: @gray_bg_8;
        font-size: 14px;
        height: auto;
    }
}

.text,.select,
.ui-selectmenu-button.ui-button.ui-widget{
    outline: none;
    width: 337px;
    height: 57px;
    color: #1b1f3f;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 20px;
    border: solid 2px #37a8af;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -icab-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    &:active,
    &:hover{
        background-color: #ffffff;
    }
    .ui-selectmenu-icon.ui-icon{
        background-image: none;
    }
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-menu .ui-menu-item-wrapper{
    border: solid 0 transparent;
    background: #ffffff;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 18px;
    color: #1b1f3f;
    margin: 0;

    &.ui-state-active:hover,
    &.ui-state-active{
        border: solid 0 transparent;
        background: #ebeef0;
        padding: 8px 20px;
        font-size: 18px;
        line-height: 18px;
        color: #1b1f3f;
        margin: 0;
    }
}

//.text,
//.select,
.text + .ui-selectmenu-button.ui-button.ui-widget,
.select + .ui-selectmenu-button.ui-button.ui-widget{
    background-color: #ffffff;
    border-top: solid 2px #37a8af;
    border-left: solid 2px #37a8af;
    border-right: solid 2px #37a8af;
    border-bottom: solid 2px #37a8af;
    max-width: 300px;
    width: 100%;
}
.select.select--filter + .ui-selectmenu-button.ui-button.ui-widget{
    width: 100%;
    height: 32px;
    min-width: 205px;
    max-width: 210px;
    padding: 5px 15px;
    line-height: normal;
}
.text--secondary,
.select--secondary,
.text--secondary + .ui-selectmenu-button.ui-button.ui-widget,
.select--secondary + .ui-selectmenu-button.ui-button.ui-widget{
    background-color: #ffffff;
    border-top: solid 2px #1b1f3f;
    border-left: solid 2px #1b1f3f;
    border-right: solid 2px #1b1f3f;
    border-bottom: solid 2px #1b1f3f;
    max-width: 300px;
    width: 100%;
}

.ui-selectmenu-menu.ui-selectmenu-open .ui-widget.ui-widget-content {
    border: none;
    max-width: 259px;
}

.text + .ui-selectmenu-button.ui-widget.ui-selectmenu-button-open.ui-corner-top,
.select + .ui-selectmenu-button.ui-widget.ui-selectmenu-button-open.ui-corner-top{
    border-top: solid 2px #37a8af;
    border-left: solid 2px #37a8af;
    border-right: solid 2px #37a8af;
    border-bottom: none;
}
.text--secondary + .ui-selectmenu-button.ui-widget.ui-selectmenu-button-open.ui-corner-top,
.select--secondary + .ui-selectmenu-button.ui-widget.ui-selectmenu-button-open.ui-corner-top{
    border-top: solid 2px #1b1f3f;
    border-left: solid 2px #1b1f3f;
    border-right: solid 2px #1b1f3f;
    border-bottom: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget.ui-widget-content.primary,
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget.ui-widget-content.primary{
    border-bottom: 2px solid #37a8af;
    border-right: 2px solid #37a8af;
    border-left: 2px solid #37a8af;
    margin: -2px 0 0;
    border-top: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget.ui-widget-content.secondary,
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget.ui-widget-content.secondary{
    border-bottom: 2px solid #1b1f3f;
    border-right: 2px solid #1b1f3f;
    border-left: 2px solid #1b1f3f;
    margin: -2px 0 0;
    border-top: none;
}
