/**
 * Availa
 * --------------------------------
*/
/**
 * Buttons styles
 * --------------------------------
*/
@import "../variables";

.btn-block{}

.button{
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    line-height: normal;
    width: 337px;
    height: 57px;

    &--icon{
        width: 185px;
    }
    &--disabled,
    &:disabled {
        cursor: default;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
        -moz-opacity: 0.03;
        -khtml-opacity: 0.03;
        opacity: 0.03;
    }
}

.label-icon {
    position: relative;

    .icon{
        position: absolute;
        font-size: 23px;
        color: #ffffff;
    }
}


.button--primary {
    background-color: #37a8af;
    color: #ffffff;
    &:hover,
    &:focus {
        background-color: #37a8af;
    }
    &:active {
        background-color: #37a8af;
        color: #ffffff;
    }
}

.button--tab {
    background-color: #fff;
    border: 1px solid #37a8af;
    text-decoration: none;
    max-width: 170px;
    display: inline-block;
    font-size: 15px;
    color: #1b1f3f;
    width: 100%;
    height: auto;
    padding: 6px 6px 5px 6px;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active,
    &-active{
        background-color: #37a8af;
        border: 1px solid #37a8af;
        color: #ffffff;
    }
}

.button--secondary {
    background-color: #1b1f3f;
    color: #ffffff;

    &:hover,
    &:focus {
        background-color: #1b1f3f;
        color: #ffffff;
    }
    &:active {
        background-color: #1b1f3f;
        color: #ffffff;
    }
}


