/**
 * Availa
 * --------------------------------
*/
/**
 * Table of Contents Date-time Page:
 * 1.
 * 2.
 * 3.
 * 4.
 * --------------------------------
*/
.ui-widget-header.ui-datepicker-header {
  background: #ffffff;
  color: #1b1f3f;
  border: none;
}
.ui-widget-header.ui-datepicker-header .ui-datepicker-prev .ui-icon {
  top: 8px;
  width: 1em;
  height: 1em;
  font-size: 18px;
  padding: 9px;
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  left: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZD0iTTY5NiA3MzJjMTAtMTIgMTAtMzAgMC00MGwtMTgwLTE4MCAxODAtMTgwYzEwLTEwIDgtMzAtNC00MC0xMC04LTI0LTgtMzYgMGwtMjAwIDIwMGMtMTAgMTItMTAgMjggMCA0MGwyMDAgMjAwYzEyIDEwIDI4IDEwIDQwIDB6Ij48L3BhdGg+PC9zdmc+);
}
.ui-widget-header.ui-datepicker-header .ui-datepicker-prev:hover {
  background-color: transparent;
  border-color: transparent;
}
.ui-widget-header.ui-datepicker-header .ui-datepicker-next .ui-icon {
  top: 8px;
  width: 1em;
  height: 1em;
  font-size: 18px;
  padding: 9px;
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  left: auto;
  right: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+PHRpdGxlPjwvdGl0bGU+PGcgaWQ9Imljb21vb24taWdub3JlIj48L2c+PHBhdGggZD0iTTMyOCA3MzJjLTEwLTEyLTEwLTMwIDAtNDBsMTgwLTE4MC0xODAtMTgwYy0xMC0xMC04LTMwIDQtNDAgMTAtOCAyNC04IDM2IDBsMjAwIDIwMGMxMCAxMiAxMCAyOCAwIDQwbC0yMDAgMjAwYy0xMiAxMC0yOCAxMC00MCAweiI+PC9wYXRoPjwvc3ZnPg==);
}
.ui-widget-header.ui-datepicker-header .ui-datepicker-next:hover {
  background-color: transparent;
  border-color: transparent;
}
.ui-datepicker.ui-widget .ui-state-default,
.ui-datepicker.ui-widget .ui-widget-content .ui-state-default,
.ui-datepicker.ui-widget .ui-widget-header .ui-state-default,
.ui-datepicker.ui-widget .ui-button {
  border: 1px solid transparent;
  background: transparent;
  font-weight: normal;
  color: #1b1f3f;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default:hover,
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default:active {
  border: 1px solid transparent;
  background-color: #ebeef0;
  font-weight: normal;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-widget-content .ui-state-highlight,
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-widget-header .ui-state-highlight {
  border: 1px solid #37a8af;
  background-color: #37a8af;
  color: #ffffff;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-highlight:hover,
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-widget-content .ui-state-highlight:hover,
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-widget-header .ui-state-highlight:hover {
  border: 1px solid #37a8af;
  background-color: #37a8af;
  color: #ffffff;
}
.ui-datepicker-title {
  font-size: 18px;
  text-align: left;
  color: #1b1f3f;
}
.ui-datepicker-year {
  display: none;
}
