/**
* Availa
* --------------------------------
*/
/**
 * placeholders styles
 * --------------------------------
*/
[class^="label-"] ::-webkit-input-placeholder {
  color: #a6a9b5;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
[class^="label-"] ::-moz-placeholder {
  color: #a6a9b5;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
[class^="label-"] :-ms-input-placeholder {
  color: #a6a9b5;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
[class^="label-"] :-moz-placeholder {
  color: #a6a9b5;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
