/**
 * Coach-dashboard. Forms
 * --------------------------------
*/
/**
 * Table of Contents Forms:
*/
@import "../variables";

.form{
    &--absolute{
        margin: -110px 0 0 -160px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.form-field{
    margin: 15px 0 0 0;

    &:first-child{
        margin: 0;
    }

    &--secondary{
        margin: 0 0 0 -4px;
        &:first-child{
            margin: 0;
        }
    }
}

.label{}

.text,.select,
.ui-selectmenu-button.ui-button.ui-widget{
    outline: none;
    width: 337px;
    height: 57px;
    color: #1b1f3f;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 20px;
    border: solid 2px #37a8af;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -icab-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    .ui-selectmenu-icon.ui-icon{
        background-image: none;
    }
}

.text--secondary,
.select--secondary,
.ui-selectmenu-button.ui-button.ui-widget{
    border: solid 2px #1b1f3f;
    width: 267px;
}