/**
* INTR Style Guide Header
* --------------------------------
*/
/**
 * Menu styles
 * --------------------------------
*/
.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.line-header {
  position: absolute;
  background: #00aaff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.submenu-header {
  background-color: #37414b;
  position: absolute;
  min-width: 110px;
  display: none;
  font-size: 0;
  padding: 0;
  z-index: 1;
}
.submenu-header__item {
  line-height: 36px;
  padding: 0 14px;
  font-size: 14px;
}
.submenu-header__item:hover {
  background: #4b555f;
}
.menu-header {
  line-height: 75px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 858px) {
  .menu-header {
    display: none;
  }
}
.menu-header__list {
  font-size: 0;
}
.menu-header__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  font-size: 1.12rem;
  font-weight: 400;
}
.menu-header__item:hover .submenu-header {
  display: block;
}
.menu-header__item:hover .menu-header__link {
  background: #37414b;
}
.menu-header__link {
  padding: 0 14px;
  padding: 0 1rem;
  display: inline-block;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-header__link:hover,
.menu-header__link:focus {
  background-color: #37414b;
}
.menu-header__link:active {
  background-color: #4b555f;
}
.menu-header__link:active + .line-header {
  opacity: 1;
}
.menu-footer {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  font-size: 0;
}
@media only screen and (max-width: 450px) {
  .menu-footer {
    display: none;
  }
}
.menu-footer__item {
  font-size: 14px;
  font-size: 1rem;
}
.menu-footer__link {
  display: inline-block;
  padding-bottom: 7px;
}
