/**
 * INTR Style Guide Header
 * --------------------------------
*/
/**
 * Page styles
 * --------------------------------
*/
.page {
  min-height: 100%;
  height: auto !important;
}
@media only screen and (max-width: 630px) {
  .page {
    margin-bottom: -430px;
  }
}
@media only screen and (max-width: 450px) {
  .page {
    margin-bottom: -300px;
  }
}
.wrapper {
  padding-bottom: 390px;
}
@media only screen and (max-width: 630px) {
  .wrapper {
    padding-bottom: 430px;
  }
}
@media only screen and (max-width: 450px) {
  .wrapper {
    padding-bottom: 300px;
  }
}
