/**
* INTR Style Guide placeholders
* --------------------------------
*/
/**
 * SideBar placeholders styles
 * --------------------------------
*/
.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
[class^="sidebar-"] ::-webkit-input-placeholder {
  color: #b9c3cd;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
}
[class^="sidebar-"] ::-moz-placeholder {
  color: #b9c3cd;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
}
[class^="sidebar-"] :-ms-input-placeholder {
  color: #b9c3cd;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
}
[class^="sidebar-"] :-moz-placeholder {
  color: #b9c3cd;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
}
::-webkit-input-placeholder {
  color: #b9c3cd;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
::-moz-placeholder {
  color: #b9c3cd;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #b9c3cd;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
:-moz-placeholder {
  color: #b9c3cd;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
