/**
 * Coach-dashboard. Search
 * --------------------------------
*/
/**
 * Table of Contents Orders Page:
*/
.search .form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
