/**
 * Coach-dashboard. Swiper Tables
 * --------------------------------
*/
/**
 * Table of Swiper Tables:
*/
.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.swiper-table {
  padding: 30px 0 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.swiper-table__icon {
  color: #00aaff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: -1.1rem;
  font-size: 15px;
}
@media only screen and (max-width: 630px) {
  .swiper-table__icon {
    left: 0;
  }
}
.swiper-table .icon-sys-arrow-right {
  left: auto;
  right: -1.1rem;
}
@media only screen and (max-width: 630px) {
  .swiper-table .icon-sys-arrow-right {
    right: 0;
  }
}
@media only screen and (max-width: 450px) {
  .swiper-table .icon-sys-arrow-right {
    right: -10px;
  }
}
@media only screen and (max-width: 450px) {
  .swiper-table .icon-sys-arrow-left {
    left: -10px;
  }
}
.swiper-button-disabled {
  opacity: 0.3;
}
.table-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 140px;
}
@media only screen and (max-width: 630px) {
  .table-head {
    min-width: 90px;
  }
}
.table-head__title {
  width: 100%;
  border-bottom: 1px solid #e1e9f0;
}
.table-head__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #e1e9f0;
  width: 100%;
}
.table-head__avatar {
  width: 100%;
  /*noinspection CssOptimizeSimilarProperties*/
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -icab-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.table-head__picture {
  /*noinspection CssOptimizeSimilarProperties*/
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -icab-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  text-align: center;
  height: 40px;
  width: 40px;
}
.table-head__overlay {
  border: 7px solid #ffffff;
  /*noinspection CssOptimizeSimilarProperties*/
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -icab-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  right: -7px;
  left: -7px;
  top: -7px;
}
.table-head__name {
  margin-left: 15px;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  max-width: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: normal;
}
.table-body {
  width: 80%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}
@media only screen and (max-width: 1170px) {
  .table-body {
    width: 75%;
  }
}
@media only screen and (max-width: 798px) {
  .table-body {
    width: 70%;
  }
}
@media only screen and (max-width: 630px) {
  .table-body {
    width: 65%;
  }
}
@media only screen and (max-width: 530px) {
  .table-body {
    width: 50%;
  }
}
.table-body__item {
  border-bottom: 1px solid #e1e9f0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-body__name {
  text-overflow: ellipsis;
  /* vertical-align: top; */
  white-space: nowrap;
  overflow: hidden;
}
.table-body__title {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-slide {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.swiper-slide:hover {
  background-color: #f0f5fa;
}
.swiper-slide:focus,
.swiper-slide:active {
  background-color: #e6f7ff;
}
.swiper-slide--short {
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 110px;
}
.swiper-slide--short .table-body__item {
  line-height: normal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 32%;
}
.swiper-slide--short .table-body__name {
  white-space: inherit;
}
